.titulo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

label, input {
    margin: 5px 0;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #6ac2c4;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

a {
    display: block;
    margin-top: 20px;
}
